<div class="container">
    <h3 class="text-center mt-5 mb-5">Gestion des employés</h3>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Role</th>
          <th>Starting date</th>
          <th>Salary</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let employee of employees
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <th scope="row"><input type="checkbox" id="ids" name="ids" value="{{employee.id}}" (change)="checkCheckBoxvalue($event)"></th>
          <td>{{ employee.firstName }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.poste }}</td>
          <td>{{ employee.startingDate | date:"dd/MM/yyyy"}}</td>
          <td>{{ employee.salary }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
    <app-modal (newTableEmployee)="addItem($event)"></app-modal>
    <button class="btn btn-lg btn-outline-danger m-2" (click)="deleteAll()" [disabled]="!canDelete">Supprimer des employés</button>
  </div>