<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Employee</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="employeeForm" (ngSubmit)="submitEmployee()">
            <div class="form-group mb-3">
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" formControlName="firstName" class="form-control border border-primary" id="firstname" />
                <div *ngIf="firstName.invalid && firstName.touched" class="text-danger">
                    <div *ngIf="firstName.errors?.['required']"> Le champ est requis</div>
                </div>
            </div>
        
            <div class="form-group mb-3">
                <label for="lastname" class="form-label">Lastname</label>
                <input type="text" formControlName="lastName" class="form-control border border-primary" id="lastname" />
                <div *ngIf="lastName.invalid && lastName.touched" class="text-danger">
                    <div *ngIf="lastName.errors?.['required']"> Le champ est requis</div>
                </div>
            </div>
        
            
            <div class="form-group mb-3">
                <select class="custom-select mb-3" formControlName="poste">
                <option value="">Choose Role</option>
                <option *ngFor="let poste of _posteName" [ngValue]="poste">
                  {{ postesTab[poste] }}
                </option>
              </select>
            </div>

            <div class="mb-3">
				<label for="startingDate">Starting Date</label>
				<div class="input-group">
					<input
						id="dp"
                        type="date"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="startingDate"
                        formControlName="startingDate"
					/>
				</div>
			</div>

            <div class="form-group mb-3">
                <label for="salary" class="form-label">Salary</label>
                <input type="text" formControlName="salary" class="form-control border border-primary" id="salary" />
            </div>

        <div class="modal-footer">
        <button class="btn btn-primary"  (click)="modal.close()" [disabled]="!employeeForm.valid">Register</button>
	</div>
        </form>
        
	</div>
	
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ajouter un employé</button>
